.onlyCard{
    display: flex;
     height: 100vh;
     margin-top: 40px;
     
     & img{
         width: 60%;
         height: 80%;
     }
}


.infoCard{
   
    margin-left: 30px;

   & .product--brand{
        font-weight: 700;
        color: red;
        margin-left: 20px;
        font-size: 1.2em;
        margin-bottom: -20px;
   }

   & .product--price{
       font-size: 2rem;
       font-weight: bold;
       margin: 40px 0 5px 30px;
   }

   & button{
      margin: 10px 0 0 15px;
       background-color: rgba(255, 0, 0, 0.718);
       border-radius: 18px;
       border: none;
       color: white;
       width: 200px;
       height: 40px;
   
       &:hover{
           background-color: black;
           border-radius: 18px;
           border: none;
           color: white;
           width: 200px;
           height: 40px;
       }
   }
}