.onlyCard{
    display: flex;
     height: 100vh;
     margin-top: 20px;
}

.onlyCard img{
    width: 60%;
    height: 80%;
}

.infoCard{
   margin: 30px 50px;
}

.infoCard h1{
    margin: 30px 0;
}

.infoCard p{
    margin: 20px 0;
}

.infoCard button{
    margin: 10px 0;
    background-color: blue;
    border-radius: 18px;
    border: none;
    color: white;
    width: 200px;
    height: 40px;

}

.infoCard button:hover{
    margin: 10px 0;
    background-color: black;
    border-radius: 18px;
    border: none;
    color: white;
    width: 200px;
    height: 40px;
    transition: all 1s;
}

.price{
    font-size: 2rem;
}